<html>
<head>
    <meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://renewal_ez.gitlab.io/public/css/1_Renewal_Receipt_Campaign_US_en-us.css">
    <title>Renewal Receipt US_en-us</title>
</head>

<body>
<div class="page font-en-body">

    <div id="return-address-window">
        <div id="return-logo" class="font-en-title">
            Your receipt from Renewal
        </div>
    </div>

    <div class="page-content">
        <div id="main-logo"><img src="https://renewal_ez.gitlab.io/public/pic/print-renewal-logo.png" width="160px"></div>
        <div class="text">
            <span class="date">{{102795625__output}}</span><br>
            <br>
            Dear {{102795607__output}},<br>
            <br>
            {{102795615__output}}<br>
            <br>
            <img src="https://renewal_ez.gitlab.io/public/pic/print-signature-jimmy.png" width="120px">
            <br clear="all">

        </div>

        <div name="return-slip1" class="return-slip">
            <div style="border: 7px solid #b42540;/*border-radius: 10px;*/">
                <h2 align="center" class="font-en-title" style="font-size: 1.8em;margin: 16px auto;">
                    My next gift to transform lives, every day</h2>
            </div>

            <div name="left" style="margin-top: 16px;float:left;width: 64%;">
                <div class="warning">
                    <span>Thank you! Please mail this slip with your next gift,</span> <span style="background-color: yellow;">making sure the address below shows through the return envelope window.</span>
                </div>
                <div style="margin-top: 98px;margin-left: 18px;width: 97%;height: 109px; /*border: 1px solid black;*/">
                    <div style="margin: 20px; float: left;">
                        <span style="display: block;">The Renewal Center</span>
                        <span style="display: block;">548 Market St # 54802</span>
                        <span style="display: block;">San Francisco CA 94104</span>
                    </div>
                    <div id="return-logo3">
                        <img class="auto-image" src="https://renewal_ez.gitlab.io/public/pic/print-renewal-logo.png"/>
                    </div>
                </div>
            </div>
            <div name="right" style="margin-top: 16px; width: 36%; float:right;">
                <div>
                    <img  align="right" class="auto-image" style="max-width:75%;" src="https://renewal_ez.gitlab.io/public/pic/print-evergreen-photo.jpg"/>

                    <span  align="center" class="pic-caption font-italic" style="margin-left: 60px;">Thank you again for your valuable support.</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page font-en-body">
    <div class="page-content">
        <div class="text" style="top:30px">
            <div style="margin-bottom: 25px;">
                <h2 align="center" style="font-size: 1.8em;margin: 16px auto;">Thank you for your gift!</h2>
            </div>
            <p><b>Your receipt:</b></p>
            <p class="receipt_p background_p1">Contributor: {{102795568__properties__receipt_name__value}}</p>
            <p class="receipt_p background_p2">Date of gift: {{102795591__output}}</p>
            <p class="receipt_p background_p1"><b>Amount: {{102795574__output}} {{102795558__CurrencyCode}}</b></p>
            <p class="receipt_p background_p2">Description: {{102795558__LineItems}}</p>
            <p class="receipt_p background_p1">Method: {{102795595__output}}</p>
            <p class="receipt_p background_p2">Transaction reference: {{102795594__output}}</p>
            <p style="font-size: 10pt;">Life Essentials Foundation (DBA The Renewal Center) is a 501(c)(3) organization (EIN: 46-2309719). This letter may serve as a record of your donation. No goods or services were provided, in whole or in part, for this contribution.</p>
        </div>

        <div name="return-slip2" class="return-slip">
            <div style="border: 7px solid #b42540">
                <h2 align="center" class="font-en-title" style="font-size: 1.8em;margin: 16px auto;">
                    My next gift to transform lives, every day</h2>
            </div>
            <div style="/*width: 60%;*/ height: 200px;/*float:right;*/ margin:auto 33px;">
                <p>Yes, Jimmy, help people get off the streets of Shanghai every day of the year! Here's my gift of:</p>
                <div class="checkbox_div"></div>
                <p class="inline_p">$20 to change the lives of homeless men and women.</p>
                <div class="checkbox_div"></div>
                <p class="inline_p">$50 to change the lives of homeless men and women.</p>
                <div class="checkbox_div"></div>
                <p class="inline_p">$150 to change the lives of homeless men and women.</p>
                <div class="checkbox_div"></div>
                <p class="inline_p">My own gift of $<u>&emsp;&emsp;&emsp;&emsp;</u> to help as many people as possible!</p>
                <p style="text-align:center;">
                    <b class="font-en-title font500"style="font-size:1.2em;">Or donate securely online at&nbsp;<span style="color:#d11241;">www.renewal.org.cn</span></b>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>