<html>
<head>
    <meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://renewal_ez.gitlab.io/public/css/1_Renewal_Receipt_Campaign_US_en-us.css">
    <title>Renewal Receipt US_zh-cn</title>
</head>

<body>
<div class="page font-cn-body">

    <div id="return-address-window">
        <div id="return-logo" class="font-cn-title">
            您的日新中心捐款收据
        </div>
    </div>

    <div class="page-content">
        <div id="main-logo"><img src="https://renewal_ez.gitlab.io/public/pic/print-renewal-logo.png" width="160px"></div>
        <div class="text">
            <span class="date">{{102795633__output}}</span><br>
            <br>
            亲爱的{{102795608__output}}：<br>
            <br>
            {{102795616__output}}<br>
            <br>
            <img src="https://renewal_ez.gitlab.io/public/pic/print-signature-hanson.png" width="120px">
            <br clear="all">

        </div>

        <div name="return-slip1" class="return-slip">
            <div style="border: 7px solid #b42540;">
                <h2 align="center" class="font-cn-title" style="font-size: 1.8em;margin: 16px auto;">我为了改变人们的每日生活所做的捐赠</h2>
            </div>

            <div name="left" style="margin-top: 16px;float:left;width: 64%;">
                <div style="float:left;width: 85%; margin-left:33px;">
                    <span>谢谢您！请将回执单与您的下一份捐赠一同寄回，</span><span style="background-color: yellow;">并确保可以在回邮信封的透明窗口中看到下面的地址。</span>
                </div>
                <div style="margin-top: 98px;margin-left: 18px;width: 97%;height: 109px; /*border: 1px solid black;*/">
                    <div style="margin: 20px; float: left;">
                        <span style="display: block;">The Renewal Center</span>
                        <span style="display: block;">548 Market St # 54802</span>
                        <span style="display: block;">San Francisco CA 94104</span>
                    </div>
                    <div id="return-logo3">
                        <img class="auto-image" src="https://renewal_ez.gitlab.io/public/pic/print-renewal-logo.png"/>
                    </div>
                </div>
            </div>
            <div name="right" style="margin-top: 16px; width: 36%; float:right;">
                <div>
                    <img align="right" class="auto-image" style="max-width:75%;" src="https://renewal_ez.gitlab.io/public/pic/print-evergreen-photo.jpg"/>

                    <span align="center" style="margin-left: 66px;" class="pic-caption">再次感谢您宝贵的支持！</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page font-cn-body">
    <div class="page-content">
        <div class="text" style="top:30px">
            <div style="margin-bottom: 25px;">
                <h2 align="center" style="font-size: 1.8em;margin: 16px auto;">谢谢您的捐赠！</h2>
            </div>
            <p><b>您的日新捐款收据 Your receipt：</b></p>
            <p class="receipt_p background_p1">捐款者 Contributor：{{102795568__properties__receipt_name__value}}</p>
            <p class="receipt_p background_p2">捐款日期 Date of gift：{{102795591__output}}</p>
            <p class="receipt_p background_p1"><b>捐款金额 Amount：{{102795574__output}} {{102795558__CurrencyCode}}</b></p>
            <p class="receipt_p background_p2">捐款描述 Description：{{102795622__output}}</p>
            <p class="receipt_p background_p1">捐款方式 Method：{{102795618__output}}</p>
            <p class="receipt_p background_p2">捐款编号 Reference：{{102795594__output}}</p>
            <p style="font-size: 10pt;">Life Essentials Foundation (DBA The Renewal Center)是一家501(c)(3)组织(EIN: 46-2309719)。本邮件是您的捐赠的记录，捐赠不涉及任何全部或部分商品或服务的提供。Life Essentials Foundation (DBA The Renewal Center) is a 501(c)(3) organization (EIN: 46-2309719).  This letter may serve as a record of your donation. No goods or services were provided, in whole or in part, for this contribution.</p>
        </div>

        <div name="return-slip2" class="return-slip">
            <div style="border: 7px solid #b42540;/*border-radius: 10px;*/">
                <h2 align="center" class="font-cn-title" style="font-size: 1.8em;margin: 16px auto;">
                    我为了改变人们的每日生活所做的捐赠</h2>
            </div>
            <div style="/*width: 60%;*/ height: 200px;/*float:right;*/ margin:auto 33px;">
                <p>是的，在全年的每一天，我们都要帮助上海街头无家可归人士找到新的家和工作。请使用我的捐赠帮助更多的人吧。我愿意捐赠：</p>
                <div class="checkbox_div"></div>
                <p class="inline_p">20美元，在每天都去改变那些无家可归男女的人生！</p>
                <div class="checkbox_div"></div>
                <p class="inline_p">50美元，在每天都去改变那些无家可归男女的人生！ </p>
                <div class="checkbox_div"></div>
                <p class="inline_p">150美元，在每天都去改变那些无家可归男女的人生！</p>
                <div class="checkbox_div"></div>
                <p class="inline_p"><u>&emsp;&emsp;&emsp;&emsp;</u> 美元人民币来尽可能地帮助更多的人！</p>
                <p style="text-align:center;">
                    <b class="font-cn-title font500"style="font-size:1.2em;">您也可以在<span style="color:#d11241;">www.renewal.org.cn</span>在线捐赠</b>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>