<html>
<head>
    <meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://renewal_ez.gitlab.io/public/css/1_Renewal_Receipt_Campaign_US_en-us.css">
    <title>Renewal Campaign US_en-us</title>
</head>

<body>
<div class="page font-en-body">
	<div id="return-address-window">
		<div id="return-logo" class="font-en-title">Three great changes in 2021</div>
	</div>
<div class="page-content">
<div id="main-logo">
	<img src="https://renewal_ez.gitlab.io/public/pic/print-renewal-logo.png"width="160px">
</div>

<div class="text">
<span class="date">{{102136457__output}}</span>
<br><br>Dear {{93710553__COL}},<br><br>
	<!--###-->
	I have some great news.Right now,a generous partner will double any gift you send to the Renewal Center to provide emergency support for people in need.
	<br><br>
	<p style="margin:auto 33px;">This couldn't come at a better time. COVID has left a lot of people without support, and gift income is down. So I'd be especially grateful for any gift you can send to be doubled today.</p>
	<br>
	<b>This amazing matching grant won't last long, so please respond now.</b><br>
	<span class="font600">Second way of bold font</span><br>
	<span class="font700">Third way of bold font</span><br>
	<br><br><u>A gift of $42.80 would normally provide a meal, shower and warm clothes for 20 people. Today, it will be doubled to $85.60 and help 40 people!</u><br>
	<!-- ### -->
<br clear="all">
</div>

<div class="text" style="position: absolute; top: 650px;">
<span style="float: right;">(over, please)</span>
</div>

<div name="return-slip1" class="return-slip">
<div class="font-en-title" style="border: 7px solid #b42540;/*border-radius: 10px;*/">
<h2 align="center" style="font-size: 1.8em;margin: 16px auto;">My gift to be <u>doubled</u> by the matching grant</h2>
</div>

<div name="left" style="margin-top: 16px;float:left;width: 64%;">
<div class="warning">
	<span>Thank you! Please mail this slip with your next gift,</span> <span style="background-color: yellow;">making sure the address below shows through the return envelope window.</span>
</div>
<div style="margin-top: 98px;margin-left: 18px;width: 97%;height: 109px; /*border: 1px solid black;*/">
	<div style="margin: 20px; float: left;">
		<span style="display: block;">The Renewal Center</span>
		<span style="display: block;">548 Market St # 54802</span>
		<span style="display: block;">San Francisco, CA 94104</span>
	</div>
	<div id="return-logo3"><img class="auto-image" src="https://renewal_ez.gitlab.io/public/pic/print-renewal-logo.png"/></div>
</div></div>

<div name="right" style="margin-top: 16px; width: 36%; float:right;">
<div>
	<img  align="right" class="auto-image" style="max-width:75%;" src="https://renewal_ez.gitlab.io/public/pic/print-evergreen-photo.jpg"/>
	<span  align="center" class="pic-caption font-italic" style="margin-left: 60px;">Thank you again for your valuable support.</span>
</div></div></div></div></div>

<div class="page font-en-body">
<div class="page-content">
<div class="text" style="position: absolute; top: 20px;">
	<span style="float: right;">(page 2)</span>
</div>
<div class="text" style="top:40px">
	<br>
	<!-- ### -->
	when people rush to the Renewal Center to escape from the cold.<br>
	<br>
	Today, thanks to your doubled support, your gift will be matched to help keep our doors open for everyone who needs help. Your gift will also be doubled to offer longer-term shelter and training for people who are ready to make a new start in life.<br>
	<br>
	You might be able to be really generous today. <u>But even if you send a small gift, it will make a huge difference.</u> People in need respond so enthusiastically to your love and encouragement. Your support gives them hope for the future!<br>
	<br>
	So, I just want to say thank you in advance for sending your gift to be doubled today. I'm very thankful for your amazing support,and I look forward to sharing with you the wonderful results of your giving.<br>
    <br>
    So, I just want to say thank you in advance for sending your gift to be doubled today. I'm very thankful for your amazing support,and I look forward to sharing with you the wonderful results of your giving.<br>
    <br>
    So, I just want to say thank you in advance for sending your gift to be doubled today. I'm very thankful for your amazing support,and I look forward to sharing with you the wonderful results of your giving.<br>
    <br>
    <img src="https://renewal_ez.gitlab.io/public/pic/print-signature-jimmy.png"width="120px"><br>
    <br clear="all">
P.S.Until October 31 every gift will be doubled,so please don't miss this opportunity for your gift to go twice as far, and reach double the number of people with essential meals, clothes and showers – as well as job training and long-term support!      
	<!-- ### -->  
	<br clear="all" />
</div>
	<div name="return-slip2" class="return-slip">
	<div class="font-en-title" style="border: 7px solid #b42540;">
		<h2 align="center" style="font-size: 1.8em;margin: 16px auto;">
			To help make 2021 <u>a year of Renewal</u></h2>
	</div>
	<div style="height: 200px;margin:auto 33px;">
		<p>Yes, I’m sending my immediate gift to be doubled by the matching grant and go TWICE as far, providing meals, shelter and warm clothes to people who are desperate to escape the coming winter cold.</p>
		<div class="checkbox_div"></div>
		<p class="inline_p">$30 to be doubled to $60.</p>
		<div class="checkbox_div"></div>
		<p class="inline_p">$75 to be doubled to $150.</p>
		<div class="checkbox_div"></div>
		<p class="inline_p">$200 to be doubled to $400.</p>
		<div class="checkbox_div"></div>
		<p class="inline_p">$<u>&emsp;&emsp;&emsp;&emsp;</u> to be doubled and help as many people as I can.</p>
		<p style="text-align:center;">
			<b class="font-en-title font500"style="font-size:1.2em;">Or donate securely online at&nbsp;<span style="color:#d11241;">www.renewal.org.cn</span></b>
		</p>
	</div></div></div></div>
</body>
</html>