<html><head><meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://renewal_ez.gitlab.io/public/css/5_6_Renewal_Campaign_CN.css">
<title>Renewal Campaign CN_zh-cn</title>
</head>
<body>

<div class="page div_borderx">
<button id="print_btn" onclick="notReady()">print</button><!-- BTN -->
<div id="return-address-cn" class="font-cn-title font400">
<div style="margin: 30px 0 0 62px;line-height: 25px;">
210013<br/>
江苏省南京市鼓楼区北京西路74号南京艺术学院设计学院陶瓷工作室<br/>
南京艺术学院设计学院陶瓷工作室<br/>
蒋炎（收）
</div></div>
<div id="return-logo" class="font-cn-title font500">
您今天的捐赠将被一份等额资助金翻番
</div>

<div id="main-logo">
	<img src="https://renewal_ez.gitlab.io/public/pic/print-renewal-logo.png"width="160px">
</div>


<div class="cn-news-body news-body1 font-cn-body font400">
<div class="text">
<span style="float: right;">{{102136457__output}}</span>
<br><br>亲爱的 {{93710553__COL$G}},<br><br>
	<!--###-->
	&emsp;&emsp;我有一些重要消息。目前，一家慷慨的合作伙伴为日新中心提供了一份等额资助金，您向我们做出的任何捐赠都将被翻倍，从而为更多需要帮助的人提供支持。
	<br><br>
	<p style="margin:auto 33px;">
	&emsp;&emsp;这份资助来的太及时了！新冠疫情给许多人带来了困难，我们的捐赠收入也大幅减少。因此，我特别感激您在此时能够给予我们的帮助，而且您的捐赠还将被翻倍。
	</p><br>
	&emsp;&emsp;这份等额资助金的提供时间有限，所以请您尽快做出捐赠。<br>
	<br>&emsp;&emsp;<b>300元捐赠一般能够为20个人提供午餐、淋浴和衣物。但今天，这份捐赠将被翻倍至600元，能够帮助40人！750元捐赠就将被翻倍至1500元。</b><br><br>
	&emsp;&emsp;秋天已经到来，冬天的脚步日益临近。可以想象，当寒冬来袭，将有越来越多的人们来到日新中心寻求躲避严寒。
	<!-- ### -->
<br clear="all">
</div>

<div class="text">
<span style="float: right;margin-top: 20px;">(请翻页)</span>
</div>
</div>

<div name="return-slip1" class="return-slip">
<div name="left" style="float:left;width:49%;" class="font-cn-body ">
<div class="font-cn-title font500" style="width:95%;">
	<h2 style="font-size:1.8em;margin:0;">他们明日的成功，正是源自您今日的善举！</h2>
</div>
<div style="margin:16px 33px;">
	<span>扫描二维码进行捐赠：</span>
</div>
<div align="center">
	<img class="auto-image" style="max-width:30%;" src="https://renewal_ez.gitlab.io/public/pic/renewal-p5.png">
	<img class="auto-image" style="max-width:40%;margin-left: 12px;" src="https://renewal_ez.gitlab.io/public/pic/chinese_pay.jpg">
	<span style="display:block; margin-top: 12px;"><b>在线捐赠 www.renewal.org.cn</b></span>
	<span style="display:block; margin-top: 2px;">邮箱: connect@renewal.org.cn</span>
	<span style="display:block; margin-top: 2px;">手机: 183-2199-4422</span>
</div>
</div>
<div name="right" style="width:36%;float:right;">
<div>
	<img align="right" class="auto-image" style="max-width:80%;" src="https://renewal_ez.gitlab.io/public/pic/gift-3.jpg"/>
	<span align="center" class="font-cn-title pic-caption" style="margin-left:50px;" >
	除了节日餐之外，每位来访者还得到了活动的临别赠礼，包括时令的柑橘、花生、饮料和少量现金，用以购买生活必需品。</span>
</div></div></div>
</div>

<div class="page div_borderx">

<div class="cn-news-body news-body2 font-cn-body font400 div_borderxx">
<div class="text">
	<span style="float: right;">(第二页)</span>
	<br><br>
	<!-- ### -->
	&emsp;&emsp;随着气温的直线下降，几乎没有无家可归者能为寒风做好准备，他们甚至不得不睡在冰冷的混凝土上。他们根本没有办法准备。<u>多数无家可归者最关心的问题只是今天自己是否有东西吃，而不是能否找到一件温暖的大衣。</u>
	<br>
	<br>
	&emsp;&emsp;今天，在我们的加倍支持下，他们可以在日新中心获得这些帮助，而这都离不开您的捐赠。您的善款将使我们能够为每一个需要帮助的人敞开大门。
	<br>
	<br>
	&emsp;&emsp;你的捐赠还将被翻倍，并为那些希望开启新生的人们提供长期的住所与培训机会。
	<br>
	<br>
	&emsp;&emsp;今天，您有机会展示您慷慨的爱心。但即使是一份小小的捐赠，也将带来巨大的不同。日新中心的受助者们对您的关爱与鼓励展现出了无尽的感激。是您的支持给了他们对未来的希望。
	<br>
    <br>
	<p style="margin:auto 33px;">
    &emsp;&emsp;这就是为什么我如此急切地想要告诉您这份等额资助金。我们期待着您的回复。您做出的任何捐赠都将被翻倍，并支持日新中心能够关注于最重要的使命——帮助那些无家可归的人们。
	</p><br>
    &emsp;&emsp;新冠病毒已经让我们付出了惨重的代价。我们的许多支持者都遇到了严重的困难，而街头的人们也在经历着最难熬的一段时间。<br>
    <br>
	&emsp;&emsp;因此，我想要提前对您做出的捐赠表示感谢。我要谢谢您提供的无私支持，并期待着与您分享这些捐赠将会带来的美好结果。
	<br><br>
    <img src="https://renewal_ez.gitlab.io/public/pic/print-signature-jimmy.png"width="120px"><br>
    <br clear="all">
附言：	在XX月XX日之前，所有的捐赠都将被翻倍。不要错过这个将捐赠的影响加倍的机会，从而为更多的人们提供重要的食物、衣服和淋浴——以及工作培训和长期的支持！  
	<!-- ### -->  
	<br clear="all" />
</div>
</div>


<div name="return-slip2" class="return-slip">
<div style="border:7px solid #b42540;" class="font-cn-title font500">
<h2 align="center" style="font-size:1.8em;margin:16px auto;">请捐赠热<u>腾腾的食物</u>及就业培训项目</h2></div>
<div style="height:200px;margin:auto 33px;" class="font-cn-body ">
<p>是的叶海生，用我的捐款来为人们提供温暖的饭菜，并帮助更多的人加入日新卓有成效的就业培训项目。</p>
<div class="checkbox_div"></div>
<p class="inline_p">300元人民币，可为20人提供热腾腾的饭菜和淋浴</p>
<div class="checkbox_div"></div>
<p class="inline_p">XXX RMB，提供XX天的就业培训、膳食及住宿</p>
<div class="checkbox_div"></div>
<p class="inline_p">1350元人民币，可为90人提供热腾腾的饭菜和淋浴</p>
<div class="checkbox_div"></div>
<p class="inline_p"><u>&emsp;&emsp;&emsp;&emsp;</u>人民币，用于[热腾腾的饭菜][就业培训][任何当下所需]</p><!-- □vvnmx -->
<p style="text-align:center;">
	<b class="font-cn-title font500"style="font-size:1.2em;">您也可以在<span style="color:#d11241;">www.renewal.org.cn</span>在线捐赠</b>
</p>
</div></div></div>

</body>
<script>
function notReady(){
	alert("Please wait the pictures loaded");
}
function print_news(){
	document.getElementById("print_btn").style.display="none";
	window.print();
	document.getElementById("print_btn").style.display="";
}
window.onload =  function () {
    console.log('page full loaded');
	document.getElementById("print_btn").onclick=print_news;
}
</script>
</html>