<html><head><meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://renewal_ez.gitlab.io/public/css/7_8_Renewal_Newsletter_CN.css">
<title>Renewal Newsletter CN_en-us</title>
</head>
<body>

<div class="page div_borderx">
<button id="print_btn" onclick="notReady()">print</button><!-- BTN -->
<div id="return-address-cn" class="font-cn-title font400">
<div style="margin: 30px 0 0 62px;line-height: 25px;">
210013<br/>
江苏省南京市鼓楼区北京西路74号南京艺术学院设计学院陶瓷工作室<br/>
南京艺术学院设计学院陶瓷工作室<br/>
蒋炎（收）
</div>
</div>
<div id="main-logo" class="font-en-title">
<div class="font-en-title font700" style="font-size:83px;color:#D10E40;margin-left:-4px;">
	<b style="display:block;">Re:</b>
	<b style="display:block;margin-top: -40px;">news</b>
</div>
<div style="font-size:15px;color:#D10E40;margin-top:-8px;">
	How your gifts can <br/>transform lives in Shanghai</div>
<div style="background-color:#D10E40;color:white;height:28px;margin-top:5px;width:270px;">
	<span style="padding:5px 10px; display:inline-block;">Issue 16</span>
	<span style="float:right;display:inline-block; padding:5px 10px;">Spring 2021</span>
</div>
</div>
<div class="news-title news-title1 font-en-title">
<span class="font500" style="font-size:1.8em;">Spring Festival dinner is a launch pad for new lives</span>
<span class="en-sub-title font300">People come for a hot meal and learn about our job training program</span>
<div style="position:absolute; border-bottom:1px solid black;width:100%;margin-top:5px;"></div>
</div>

<div class="en-news-body news-body1 font-en-body font300"><!--align="justify"-->
<div class="news-left">
<div style="float:left;width:95%;">
<span>
Thank you! Your support provided a hot holiday meal to 100 homeless guests 
and introduced them to our job training program. And because family reunions 
such a big tradition at this time of year, your gifts help overcome the 
sadness of having no family or being unable or afraid to return home. 
<u>Your kindness also gave a few renminbi in a traditional red envelope to 
guests who could not otherwise afford their next meal because there's no 
short-term work over the holiday.</u>
<br/><br/>Chen Wenlin was invited by a friend and said, "I saw so many friends there. 
It brought me hope." 
</span></div></div>

<div class="news-right">
<div style="float:right;width:95%;">
<span>
He was incredibly grateful for the gift of cash. 
"I don't know what I would have done without your hongbao." Better yet, 
Chen has already started our job training program. He is enthusiastically 
doing daily chores and learning to read and write, practicing his characters 
in a notebook used by schoolchildren.
<br/><br/>Our Spring Festival meal includes traditional dumplings, or jiaozi, all 
handmade by volunteers. </span><b>Because we serve meals every day, can you help 
provide more essential food this spring? It will definitely attract more 
people into our training program.</b>
</div></div></div>
<div name="return-slip1" class="en-return-slip">
<div name="left" style="float:left;width:49%;" class="font-en-body font300">
<div class="font-en-title font500" style="width:95%;">
	<h2 style="font-size:1.8em;margin:0;">Your kindness is a cause for celebration!</h2>
</div>
<div style="margin:16px 33px;">
	<span>Scan to make a gift with WeChat or Alipay:</span>
</div>
<div align="center">
	<img class="auto-image" style="max-width:30%;" src="https://renewal_ez.gitlab.io/public/pic/renewal-p5.png">
	<img class="auto-image" style="max-width:40%;margin-left: 12px;" src="https://renewal_ez.gitlab.io/public/pic/chinese_pay.jpg">
	<span style="display:block; margin-top: 12px;"><b>Donate online at www.renewal.org.cn</b></span>
	<span style="display:block; margin-top: 2px;">Email: connect@renewal.org.cn</span>
	<span style="display:block; margin-top: 2px;">Phone: 183-2199-4422</span>
</div>
</div>
<div name="right" style="width:36%;float:right;">
<div>
	<img align="right" class="auto-image" style="max-width:80%;" src="https://renewal_ez.gitlab.io/public/pic/gift-3.jpg"/>
	<span align="center" class="pic-caption font-italic" style="margin-left:50px;" >Each guest received a holiday meal and snacks to take away.</span>
</div></div></div>
</div>

<div class="page div_borderx">
<div class="news-title news-title2 font-en-title">
	<span class="font500" style="font-size:1.8em;">You were there when he needed a second chance</span><br/>
	<span class="en-sub-title font300">Luo Yu dropped out of job training a year ago, but we're glad to welcome him back</span>
	<div style="position:absolute; border-bottom:1px solid black;width:100%;margin-top:5px;"></div>
</div>
<div class="en-news-body news-body2 font-en-body font300"><!--align="justify"-->
	<div class="news-left">
<div style="float:left;width:95%;">
<span>
Were you ever given a second chance in life? What about a third chance? Each one of us has experienced failure at some point, but then there's the kind of personal crisis that happens right on the verge of success...
<br/><br/>Luo Yu could tell you all about it. He was doing exceptionally well in our residential program and ready to start training one day a week at one of our outstanding partner restaurants, M on the Bund - when he suddenly disappeared. 
<br/><br/>That was a year ago. It was sad but understandable - because we know that even small steps toward full-time employment can be intimidating for those who know the joy of total freedom, even if it comes with the pain of homelessness. 
<br/><br/>But ... now Luo Yu is back! And far from getting the cold shoulder from 
his former friends, we're still ready to help him make a new start. 
Every part of our journey brings us to where we are, and for Luo Yu, 
it's your support that says, "Yes, come back, you wanderer!" 
<br/><br/>Like anyone who succeeds in our very challenging program, Luo Yu is an extremely
</span></div></div>
<div class="news-right">
<div style="float:right;width:95%;">
<span>
hard worker who is once again learning to apply his effort do doing tasks according to plan, not just the way he thinks best. And he says he's ready this time to finish the work he started, "I just want a stable, well-paid job. I've been drifting for too long." 
<br/><br/>The Renewal Center's training program is often the key to successful 
life-change, and is open to anyone who is willing to put in serious work 
towards finding full-time employment. </span><b>We spend XXX RMB per person, 
per day for meals, training and accommodation, including the work our 
trainees do to keep the Renewal Center working for others. Your help 
today could change a life!</b>
<div>
	<img align="right" class="auto-image" style="margin-top: 10px;max-width:100%;" src="https://renewal_ez.gitlab.io/public/pic/luoyu.jpg"/>
	<span align="center" class="pic-caption font-italic" style="max-width:95%;">No one doubts Luo Yu will land a good job when he completes the training program.</span>
</div></div></div></div>
<div name="return-slip2" class="en-return-slip">
<div style="border:7px solid #b42540;" class="font-en-title font500">
<h2 align="center" style="font-size:1.8em;margin:16px auto;">
	Please give <u>hot meals</u> and <u>job training</u></h2></div>
<div style="height:200px;margin:auto 33px;" class="font-en-body font300">
<p>Yes, Jimmy, use my gift to serve hot meals and help more people enter the Renewal Center's amazingly successful job training program.</p>
<div class="checkbox_div"></div>
<p class="inline_p">300 RMB to provide a hot meal and shower for 20 people</p>
<div class="checkbox_div"></div>
<p class="inline_p">XXX RMB to provide XX days of job training, meals and accommodation</p>
<div class="checkbox_div"></div>
<p class="inline_p">1350 RMB to provide a hot meal and shower for 90 people</p>
<div class="checkbox_div"></div>
<p class="inline_p"><u>&emsp;&emsp;&emsp;&emsp;</u> RMB for [hot meals] [job training] [any current need]</p>
<p style="text-align:center;">
<b class="font-en-title font500"style="font-size:1.2em;">Or donate securely online at
<span style="color:#d11241;">www.renewal.org.cn</span>
</b></p>
</div></div></div>

</body>
<script>
function notReady(){
	alert("Please wait the pictures loaded");
}
function print_news(){
	document.getElementById("print_btn").style.display="none";
	window.print();
	document.getElementById("print_btn").style.display="";
}
window.onload =  function () {
    console.log('page full loaded');
	document.getElementById("print_btn").onclick=print_news;
}
</script>
</html>