<html><head><meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://renewal_ez.gitlab.io/public/css/7_8_Renewal_Newsletter_CN.css"><title>Renewal Newsletter CN_zh-cn</title>
</head>
<body>

<div class="page div_borderx" style="/*margin-left: 17px;*/">
<button id="print_btn" onclick="notReady()">print</button><!-- BTN -->
<div id="return-address-cn" class="font-cn-title font400">
<div style="margin: 30px 0 0 62px;line-height: 25px;">
210013<br/>
江苏省南京市鼓楼区北京西路74号南京艺术学院设计学院陶瓷工作室<br/>
南京艺术学院设计学院陶瓷工作室<br/>
蒋炎（收）
</div>
</div>
<div id="main-logo" class="font-cn-title">
<div class="font-en-title font700" style="font-size:83px;color:#D10E40;margin-left:-4px;">
	<b style="display:block;">Re:</b>
	<b style="display:block;margin-top: -40px;">news</b>
</div>
<div id="subheader" style="color:#D10E40;margin-top:-8px;">
	您的捐赠如何改变了人们在上海的生活</div>
<div style="background-color:#D10E40;color:white;height:28px;margin-top:5px;width:270px;">
	<span style="padding:0 10px; display:inline-block;">2021年春季</span>
	<span style="float:right;display:inline-block; padding:0 10px;">第16期</span>
</div>
</div>
<div class="news-title news-title1 font-cn-title">
<h2 style="font-size:1.8em;margin:0;">春节的那顿饭菜是迈向新生活的开始</h2>
<span class="cn-sub-title ">从享用一份热饭开始，人们了解了我们的就业培训项目</span>
<div style="position:absolute; border-bottom:1px solid black;width:100%;margin-top:5px;"></div>
</div>

<div class="cn-news-body news-body1 font-cn-body font300" align="justify"><!---->
<div class="news-left">
<div style="float:left;width:95%;">
<span>
&emsp;&emsp;感谢您！您的帮助为100位无家可归的来访者提供了热腾腾的节日餐，并让他们了解了我们的就业培训项目。根据传统，每年的这个时候都是合家团圆的时刻，您的捐助帮助他们战胜了无家可归、无法回家或害怕回家的痛苦。您的善意还赠与了来访者们传统的春节红包，使他们在无工可打的春节期间的生活也能得以维系。
<br/><br/>
&emsp;&emsp;<u>陈文林是被朋友邀请来的，他说：“我在那儿见到了很多朋友，这给我带来了希望。”</u>
</span></div></div>

<div class="news-right">
<div style="float:right;width:95%;">
<span>
&emsp;&emsp;他对红包深表感谢：“如果没有你们的红包，我都不知道该怎么办。”更棒的是，陈文林已经参加了我们的就业培训项目。他对日常家务充满热情，也喜欢学习读书写字，以及在一本小学生作业本上练字。
<br/><br/>
&emsp;&emsp;我们的春节餐包括由志愿者们亲手包的饺子。</span>
<b>由于每天都需要供应食物，您是否可以在今年春天支持我们提供更多的食物？这样一定能吸引到更多的人参加我们的培训项目。</b>
</div></div></div>
<div name="return-slip1" class="cn-return-slip">
<div name="left" style="float:left;width:49%;" class="font-cn-body ">
<div class="font-cn-title font500" style="width:95%;">
	<h2 style="font-size:1.8em;margin:0;">他们明日的成功，正是源自您今日的善举！</h2>
</div>
<div style="margin:16px 33px;">
	<span>扫描二维码进行捐赠：</span>
</div>
<div align="center">
	<img class="auto-image" style="max-width:30%;" src="https://renewal_ez.gitlab.io/public/pic/renewal-p5.png">
	<img class="auto-image" style="max-width:40%;margin-left: 12px;" src="https://renewal_ez.gitlab.io/public/pic/chinese_pay.jpg">
	<span style="display:block; margin-top: 12px;"><b>在线捐赠 www.renewal.org.cn</b></span>
	<span style="display:block; margin-top: 2px;">邮箱: connect@renewal.org.cn</span>
	<span style="display:block; margin-top: 2px;">手机: 183-2199-4422</span>
</div>
</div>
<div name="right" style="width:36%;float:right;">
<div>
	<img align="right" class="auto-image" style="max-width:80%;" src="https://renewal_ez.gitlab.io/public/pic/gift-3.jpg"/>
	<span align="center" class="font-cn-title pic-caption" style="margin-left:50px;" >
	除了节日餐之外，每位来访者还得到了活动的临别赠礼，包括时令的柑橘、花生、饮料和少量现金，用以购买生活必需品。</span>
</div></div></div>
</div>
<!------------------------------>
<div class="page div_borderx">
<div class="news-title news-title2 font-cn-title">
	<h2 style="font-size:1.8em;margin:0;">因为您，他的人生有了第二次机会</h2>
	<span class="cn-sub-title ">罗玉一年前中断了就业培训项目，但我们很高兴他能回来</span>
	<div style="position:absolute; border-bottom:1px solid black;width:100%;margin-top:5px;"></div>
</div>
<div class="cn-news-body news-body2 font-cn-body " align="justify"><!--align="justify"-->
	<div class="news-left">
<div style="float:left;width:95%;">
<span>
&emsp;&emsp;您在人生中曾否有过第二次机会，甚或第三次机会呢？我们每个人在某个时刻都经历过失败，功败垂成之际，也爆发了人生危机……
<br/><br/>&emsp;&emsp;罗玉可以告诉您关于这一切的故事。当时他在我们的住宿项目中表现优异，正准备参加我们的一个合作伙伴——米氏西餐厅每周一次的培训，然后，他突然失踪了。
<br/><br/>&emsp;&emsp;那是一年前的事了，虽然令人难过却可以理解——因为我们知道，对于那些享受过自由自在的乐趣的人来说，即使是向全职工作迈出一小步，也让他们战战兢兢，即便自由伴随着无家可归的痛苦。
<br/><br/>&emsp;&emsp;但是……现在罗玉又回来了！老朋友们并不会对他冷眼相待，我们仍然准备帮助他重新开始。人生旅程中的各个部分让我们最终来到了这里，对于罗玉来说，正是您的支持告诉他：“对，回来吧，漂泊的人！”
<br/><br/>
&emsp;&emsp;就像成功完成这个充满挑战的项目的其它人一样，罗玉是一个非常努力的人，
</span></div></div>
<div class="news-right">
<div style="float:right;width:95%;">
<span>
他再次学会了按计划完成任务，而不是按照他自认为最佳的方式。他说这次他准备好了要完成之前开始的工作：“我只想要一份稳定且收入不错的工作，我已经漂泊太久了。”
<br/><br/>
&emsp;&emsp;日新中心的培训项目通常是成功改变生活的关键，任何有意愿努力寻求一份全职工作的人都可参加。
</span>
<b>我们每天为每个人花费XXX元，用于他们餐食、培训和住宿，包括让受训人员参与日新中心的日常运营工作，为他人提供服务。今天您的帮助将会改变人们的一生！</b>
<div>
	<img align="right" class="auto-image" style="margin-top: 15px; max-width:100%;" src="https://renewal_ez.gitlab.io/public/pic/luoyu.jpg"/>
	<span align="center" class="font-cn-title  pic-caption" style="max-width:95%;">
	在完成日新中心的培训项目后，罗玉一定能找到一份满意的工作，对此人人都深信不疑。</span>
</div></div></div></div>
<div name="return-slip2" class="cn-return-slip">
<div style="border:7px solid #b42540;" class="font-cn-title font500">
<h2 align="center" style="font-size:1.8em;margin:16px auto;">
	请捐赠热腾腾的<u>食物及就业培训项目</u></h2></div>
<div style="height:200px;margin:auto 33px;" class="font-cn-body ">
<p>是的叶海生，用我的捐款来为人们提供温暖的饭菜，并帮助更多的人加入日新卓有成效的就业培训项目。</p>
<div class="checkbox_div"></div>
<p class="inline_p">300元人民币，可为20人提供热腾腾的饭菜和淋浴</p>
<div class="checkbox_div"></div>
<p class="inline_p">XXX RMB，提供XX天的就业培训、膳食及住宿</p>
<div class="checkbox_div"></div>
<p class="inline_p">1350元人民币，可为90人提供热腾腾的饭菜和淋浴</p>
<div class="checkbox_div"></div>
<p class="inline_p"><u>&emsp;&emsp;&emsp;&emsp;</u>人民币，用于[热腾腾的饭菜][就业培训][任何当下所需]</p><!-- □vvnmx -->
<p style="text-align:center;">
<p style="text-align:center;">
	<b class="font-cn-title font500"style="font-size:1.2em;">您也可以在<span style="color:#d11241;">www.renewal.org.cn</span>在线捐赠</b>
</p>
</div></div></div>

</body>
<script>
function notReady(){
	alert("Please wait the pictures loaded");
}
function print_news(){
	document.getElementById("print_btn").style.display="none";
	window.print();
	document.getElementById("print_btn").style.display="";
}
window.onload =  function () {
    console.log('page full loaded');
	document.getElementById("print_btn").onclick=print_news;
}
</script>
</html>